.create-recipe-form {
    width: 45%;
    margin: 20px auto 50px auto;
}
.create-recipe-form .title {
    text-align: center;
}
.create-recipe-form .btn-cancel{
    margin-left: 1%;
}

.create-recipe-form img{
    max-height: 200px;
}

@media (max-width: 1000px) {
	.create-recipe-form{
		width: 70%;
	}
}
@media (max-width: 500px) {
	.create-recipe-form{
		width: 100%;
	}
}

.create-recipe-form .button-block {
    display: inline-block;
    width: 100%;
}