
@import "./userPage.css";
@import "./recipe-card.css";
@import "./search-component.css";
@import "./create-recipe-form.css";


body {
    min-height: 100vh;
    position: relative;
    font-family: 'Indie Flower', cursive;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
