.create-recipe-form {
    width: 45%;
    margin: 20px auto 50px auto;
    background-color: rgba(197, 197, 255, 0.4);
    border-radius: 7px;
    padding: 10px;
    .title {
        text-align: center;
    }

    .btn-cancel{
        margin-left: 1%;
        width: 25%;
    }

    .btn-create{
        width: 25%;
    }

    img{
        max-height: 200px;
    }

    .button-block {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 1000px) {
	.create-recipe-form {
		width: 70%;
	}
}
@media (max-width: 500px) {
	.create-recipe-form {
		width: 100%;
	}
}
