.grid {
    -webkit-column-count: 3;
    column-count: 3;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .grid {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .grid {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin: 0 auto 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    max-width: 95%;
    width: 100%;
    display: inline-block;
    &:hover {
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .card-image {
        width: 100%;
    }
    .card-text {
        padding: 0px 10px 0px 10px;
    }
    .card-description {
        color: #4c4c4c;
        text-align: justify;
    }
    .card-read-more {
        text-align: right;
        font-size: 20px;
    }
    .card-title {
        font-size: 22px;
        font-weight: bold;
    }
    .card-read-more > a {
        color: #005ec3;
        text-decoration: none;
        &:hover, &:focus {
            color: #000000;
            text-decoration: none;
        }
    }
    .card-tag {
        border-radius: 4px;
        background-color: #5bc0de;
    }
}
