.grid {
    column-count: 3;
    padding-bottom: 50px;
  }
  
  @media (max-width: 767px) {
    .grid {
      column-count: 2;
    }
  }
  
  @media (max-width: 500px) {
    .grid {
      column-count: 1;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 auto 20px;
    break-inside: avoid;
    max-width: 95%;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .card-image {
      width: 100%;
    }
    .card-text {
      padding: 0px 10px 0px 10px;
    }
    .card-description {
      color: #4c4c4c;
      text-align: justify;
    }
    .card-read-more {
      text-align: right;
      font-size: 20px;
    }
    .card-title {
      font-size: 22px;
      font-weight: bold;
    }
    .card-read-more > a {
      color: #005ec3;
      text-decoration: none;
      &:hover, &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
    .card-tag {
      border-radius: 4px;
      background-color: #5bc0de;
    }
  }